<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Mi Barrio - Registro de Establecimiento</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous" />
</head>
<body>

	<header class="container">
		<nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
			
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
				<span class="fs-4">MiBarrio.com</span>
			</a>

			<ul class="nav nav-pills">
				<li class="nav-item"><a th:href="@{/}" class="nav-link active">Tiendas</a></li>
				<li class="nav-item"><a th:href="@{/productos}" class="nav-link">Productos</a></li>
				<li class="nav-item"><a th:href="@{/mensual}" class="nav-link">Gastos Mensuales</a></li>
				<li class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Cerrar Sesión</a></li>
			</ul>
			
		</nav>
	</header>

	<section class="container">
	
		<div class="row align-items-center mb-4">
			<span class="fw-bold w-auto"
				th:if="${tienda.id == null}">Registro de Establecimiento</span> <span class="fw-bold w-auto"
				th:unless="${tienda.id == null}">Actualización de Registro</span>	
		</div>
		
		<div class="divider"></div>
		<div class="row">
		
			<form class="mt-4" th:action="@{/tiendas/guardar}" th:object="${tienda}" method="POST">

				<input type="hidden" th:field="*{id}" th:value="${tienda.id}">
				
				<div class="mb-3">
					<label class="form-label">Nombre del Establecimiento : </label>
					<input class="form-control" th:field="*{nombreTienda}" type="text" required>
				</div>
				
				<div class="mb-3">
					<label class="form-label">Registro Comercial - NIT : </label>
					<input class="form-control" type="text" th:field="*{registroComercial}" required>
				</div>
				
				<div class="mb-3">
					<label class="form-label">Barrio : </label>
					<input class="form-control" type="text" th:field="*{barrio}" required>
				</div>
				
				<div class="mb-3">
					<label class="form-label">Zona : </label>
					<input class="form-control" type="text" th:field="*{zona}" required>
				</div>
							
				<div class="mb-3">
					<label class="form-label">Usuario : </label>
					
					<select	th:field="*{usuario}" class="form-control">
						<th:block th:each="usuario : ${listaUsuarios}">
							<option th:text="${usuario.username}" th:value="${usuario.id}"></option>
						</th:block>	
					</select>
					
				</div>
				
				<button type="submit" class="btn btn-primary">Guardar</button>
			</form>
			
		</div>
				
		<br>
		
		<div>
		<span class="fw-bold w-auto" style="color:red;" th:if="${tienda.id != null}">Eliminar Tienda del Sistema : </span>
		</div>
		
		<nav class="d-flex flex-wrap justify-content-start py-3 mb-4" th:if="${tienda.id != null}">		
			<ul class="nav nav-pills">
				<li class="nav-item"><a class="btn btn-danger" th:href="@{'/tiendas/eliminar/' + ${tienda.id}}"
					th:data-confirm-delete="|Estas a punto de eliminar esta TIENDA con TODOS sus registros, ¡ES IRREVERSIBLE!|"
					th:onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Eliminar</a>
				</li>
			</ul>
		</nav>
		
	</section>
	
	<br>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous">
	</script>

</body>
</html>
