<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Mi Barrio - Registro de Usuarios</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous" />
</head>
<body>

	<header class="container">
		<nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
			
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
				<span class="fs-4">MiBarrio.com</span>
			</a>
			
		</nav>
	</header>

	<section class="container">
		<div class="row align-items-center mb-4">
		
			<div th:if=${param.exito}>
				<div class="alert alert-info">Te has registrado exitosamente</div>
			</div>
			<div th:if="${param.error}">
				<div class="alert alert-danger">Usuario existente o registro inválido</div>
			</div>

			<h1>Regístrate</h1>
				<form id="form-user" class="mt-4" th:action="@{/form_user}"	onsubmit="" th:object="${reg_user}" method="POST">
				<input type="hidden" id="user-id" />
				
				<div class="mb-3">
					<label class="control-label" for="username">Username : </label>
					<input id="username" type="text" class="form-control" th:field="*{username}" required autofocus="autofocus" />
				</div>

				<div class="mb-3">
					<label class="control-label" for="email">Email : </label>
					<input id="email" type="email" class="form-control" th:field="*{email}"	required />
				</div>

				<div class="mb-3">
					<label class="control-label" for="password">Password : </label>
					<input id="password" type="password" class="form-control" th:field="*{password}" required />
				</div>

				<div class="form-group">
				
					<button type="submit" class="btn btn-success">Registrar</button>
					<span>Si estás registrado <a th:href="@{/login}">inicia sesión aquí</a></span>
				
				</div>
			</form>

		</div>
	</section>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous">
	</script>
</body>
</html>
