<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Mi Barrio - Mis Gastos</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous" />
</head>
<body>

	<header class="container">
		<nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
				<span class="fs-4">MiBarrio.com</span>
			</a>

			
			<ul class="nav nav-pills">
				<li class="nav-item"><a th:href="@{/}" class="nav-link">Tiendas</a></li>
				<li class="nav-item"><a th:href="@{/productos}" class="nav-link">Productos</a></li>
				<li class="nav-item"><a th:href="@{/mensual}" class="nav-link active">Gastos Mensuales</a></li>
				<li class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Cerrar Sesión</a></li>
			</ul>
			
		</nav>
	</header>

	<section class="container">

		<span class="fw-bold w-auto">Administración de Gastos</span>
		
		<nav class="d-flex flex-wrap justify-content-between py-3 mb-4">		
			<ul class="nav nav-pills">
				<li class="nav-item"><a th:href="@{/mensual/nuevo}" class="btn btn-primary">Registrar Gasto</a></li>
			</ul>
			<form class="d-flex" style="width:390px;" th:action="@{/mensual}">
				<input class="form-control me-2" type="text" name="kw" id="kw" th:value="${kw}" placeholder="Digite Fecha de Pago o Servicio">
				<button class="btn btn-outline-secondary" type="submit">Buscar</button>
			</form>
		</nav>
		
		<nav class="d-flex flex-wrap justify-content-end mb-4 border-top border-bottom" th:if="${kw != null and kw != ''}">
					<div>
						<label class="form-label" style="color:red">Total "Costo" según Consulta : </label>
						<span th:text="${'$ '+ #numbers.formatDecimal(#aggregates.sum(listaMensual.![costoServicio]), 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
					</div>
		</nav>
		
		<nav class="d-flex flex-wrap justify-content-end py-3 mb-4">
			<ul class="nav nav-pills">
				<li class="nav-item"><a th:href="@{/mensual/pagos}" class="btn btn-outline-info">Últimos Pagos</a></li>
			</ul>
		</nav>
		
		<div class="divider">
		</div>
		
		<table class="table table-striped table-bordered mt-4">
			
			<thead>
				<tr class="table-primary">
					<th scope="col">Tienda</th>				
					<th scope="col">Servicio</th>
					<th scope="col">Costo</th>
					<th scope="col">Fecha de Pago</th>
					<th scope="col">Acción</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="mensual: ${listaMensual}">
					<td th:text=${mensual.tienda.nombreTienda}></td>				
					<td th:text=${mensual.nombreServicio}></td>
					<td th:text="${'$ '+ #numbers.formatDecimal(mensual.costoServicio, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
					<td th:text=${mensual.fechaPagoServicio}></td>
					<td><a class="btn btn-primary py-1"
						th:href="@{'/mensual/editar/' + ${mensual.id}}">Editar</a>			
					</td>
				</tr>
			</tbody>
		
		</table>
		<br>
	</section>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous">
	</script>

</body>
</html>
