<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Mi Barrio - Mis Productos</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous" />
</head>
<body>

	<header class="container">
		<nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
				<span class="fs-4">MiBarrio.com</span>
			</a>

			<ul class="nav nav-pills">
				<li class="nav-item"><a th:href="@{/}" class="nav-link">Tiendas</a></li>
				<li class="nav-item"><a th:href="@{/productos}" class="nav-link active">Productos</a></li>
				<li class="nav-item"><a th:href="@{/mensual}" class="nav-link">Gastos Mensuales</a></li>
				<li class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Cerrar Sesión</a></li>
			</ul>
			
		</nav>
	</header>

	<section class="container">

		<span class="fw-bold w-auto">Administración de Productos</span>
				
		<nav class="d-flex flex-wrap justify-content-between py-3 mb-4">	
			<ul class="nav nav-pills">
				<li class="nav-item"><a th:href="@{/productos/nuevo}" class="btn btn-primary">Nuevo Registro</a></li>
			</ul>
			<form class="d-flex" style="width:390px;" th:action="@{/productos}">
				<input class="form-control me-2" type="text" name="kw" id="kw" th:value="${kw}" placeholder="Digite Fecha de Venta, Nombre o REF.">
				<button class="btn btn-outline-secondary" type="submit">Buscar</button>
			</form>
		</nav>
		
		<nav class="d-flex flex-wrap justify-content-end mb-4 border-top border-bottom" th:if="${kw != null and kw != ''}">
					<div>
						<label class="form-label" style="color:red">Total "Costo Adquirido" según Consulta : </label>
						<span th:text="${'$ '+ #numbers.formatDecimal(#aggregates.sum(listaProductos.![costoAdquisicion]), 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
					</div>
		</nav>
		
		<nav class="d-flex flex-wrap justify-content-end mb-4 border-top border-bottom" th:if="${kw != null and kw != ''}">
					<div>
						<label class="form-label" style="color:green">Total "$ Venta" según Consulta : </label>
						<span th:text="${'$ '+ #numbers.formatDecimal(#aggregates.sum(listaProductos.![precioVenta]), 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
					</div>
		</nav>
		
		<nav class="d-flex flex-wrap justify-content-end mb-4 border-top border-bottom" th:if="${kw != null and kw != ''}">
					<div>
						<label class="form-label" style="color:brown">Total "Ingreso Venta" según Consulta : </label>
						<span th:text="${'$ '+ #numbers.formatDecimal(#aggregates.sum(listaProductos.![getIngresoVenta()]), 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
					</div>
		</nav>
		
		<nav class="d-flex flex-wrap justify-content-end py-3 mb-4">
			<ul class="nav nav-pills">
				<li class="nav-item"><a th:href="@{/productos/ventas}" class="btn btn-outline-success">Últimas Ventas</a></li>
			</ul>
				
			<ul class="nav nav-pills">
				<li class="nav-item"><a th:href="@{/productos/perecedero}" class="btn btn-outline-danger">Próximos a caducar en Stock</a></li>
			</ul>
		
			<ul class="nav nav-pills">
				<li class="nav-item"><a th:href="@{/productos/stock}" class="btn btn-outline-info">En Stock</a></li>
			</ul>
		</nav>					

		<div class="divider">
		</div>
		
		<table class="table table-striped table-bordered mt-4">
			
			<thead>
				<tr class="table-primary">
					<th scope="col">Tienda</th>				
					<th scope="col">REF.</th>
					<th scope="col">Nombre</th>
					<th scope="col" style="color:red;">Costo Adquirido</th>
					<th scope="col">Perecedero</th>
					<th scope="col" style="color:green;">$ Venta</th>
					<th scope="col" style="color:green;">F. Venta</th>
					<th scope="col" style="color:brown;">Ingreso Venta</th>
					<th scope="col">Acción</th>
					<th scope="col">Baja</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="producto: ${listaProductos}">
					<td th:text=${producto.tienda.nombreTienda}></td>				
					<td th:text=${producto.referenciaProducto}></td>
					<td th:text=${producto.nombreProducto}></td>
					<td style="color:red;" th:text="${'$ '+ #numbers.formatDecimal(producto.costoAdquisicion, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>				
					
					<td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="perecedero-status" th:checked="${producto.perecedero} ? 'checked'" disabled="disabled">
                        </div>
					</td>
						
					<td style="color:green;" th:text="${'$ '+ #numbers.formatDecimal(producto.precioVenta, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
					<td style="color:green;" th:text=${producto.fechaVenta}></td>
					
        			<td style="color:brown;" th:text="${'$ '+ #numbers.formatDecimal(producto.getIngresoVenta(), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
					
					<td><a class="btn btn-success py-1"
						th:href="@{'/productos/venta/' + ${producto.id}}">Reg.Venta</a>&nbsp;
						<a class="btn btn-primary py-1"
						th:href="@{'/productos/editar/' + ${producto.id}}">Editar</a>
					</td>

					<td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="baja-status" th:checked="${producto.baja} ? 'checked'" disabled="disabled">
                        </div>
					</td>
					
				</tr>
			</tbody>
		
		</table>
		<br>
	</section>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous">
	</script>

</body>
</html>
