<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Mi Barrio - Registro de Productos</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous" />
</head>
<body>

	<header class="container">
		<nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
			
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
				<span class="fs-4">MiBarrio.com</span>
			</a>

			<ul class="nav nav-pills">
				<li class="nav-item"><a th:href="@{/}" class="nav-link">Tiendas</a></li>
				<li class="nav-item"><a th:href="@{/productos}" class="nav-link active">Productos</a></li>
				<li class="nav-item"><a th:href="@{/mensual}" class="nav-link">Gastos Mensuales</a></li>
				<li class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Cerrar Sesión</a></li>
			</ul>
			
		</nav>
	</header>

	<section class="container">
	
		<div class="row align-items-center mb-4">
			<span class="fw-bold w-auto"
				th:if="${producto.id == null}">Registro de Producto</span> <span class="fw-bold w-auto"
				th:unless="${producto.id == null}">Actualización de Registro</span>	
		</div>
					
		<div class="divider"></div>
		<div class="row">
		
			<form class="mt-4" th:action="@{/productos/guardar}" th:object="${producto}" method="POST">

				<input type="hidden" th:field="*{id}" th:value="${producto.id}">
				
				<div class="mb-3">
					<label class="form-label">Referencia : </label>
					<input class="form-control" th:field="*{referenciaProducto}" type="text" required>
				</div>
				
				<div class="mb-3">
					<label class="form-label">Cód. Proveedor : </label>
					<input class="form-control" type="text" th:field="*{codigoProveedor}">
				</div>
				
				<div class="mb-3">
					<label class="form-label">Nombre : </label>
					<input class="form-control" type="text" th:field="*{nombreProducto}" required>
				</div>
				
				<div class="mb-3">
					<label class="form-label">Costo de Adquisición : </label>
					<input class="form-control" type="number" step="0.01" min="0.01" th:field="*{costoAdquisicion}" required>
				</div>
				
				<div class="mb-3">
				<label class="form-label">Perecedero : </label>
					 <div class="form-check form-switch">
	                       <input class="form-check-input" type="checkbox" role="switch" id="perecedero-status" th:field="*{perecedero}" th:value="*{perecedero}"></input>
	                 </div>
				</div>

				<div class="mb-3">
					<label class="form-label">Fecha de Caducidad : </label>
					<input class="form-control" type="date" th:field="*{fechaCaducidad}">
				</div>			
						
				<input type="hidden" th:field="*{precioVenta}" th:value="${producto.precioVenta}">
				<input type="hidden" th:field="*{fechaVenta}" th:value="${producto.fechaVenta}">
							
				<div class="mb-3">
					<label class="form-label">Tienda : </label>
				
					<select	th:field="*{tienda}" class="form-control" required>
						<th:block th:each="tienda : ${listaTiendas}">
							<option th:text="${tienda.nombreTienda}" th:value="${tienda.id}"></option>
						</th:block>	
					</select>
					
				</div>
				
				
				<div class="mb-3" th:if="${producto.id != null}">
				<label class="form-label" style="color:red;">Registrar Baja : </label>
					 <div class="form-check form-switch">
	                       <input class="form-check-input" type="checkbox" role="switch" id="baja-status" th:field="*{baja}" th:value="*{baja}"></input>
	                 </div>
				</div>				
				
				<button type="submit" class="btn btn-primary">Guardar</button>
			</form>
			
		</div>
		
		<br>
			
	</section>
	
	<br>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous">
	</script>

</body>
</html>
